/*.row-no-padding [class*="col-"]{
    padding-left: 0 !important;
    padding-right: 0 !important;
}*/

body {
    background-color: black;
    color: white;
}
main section:nth-child(n+1){
    background-color: white;
    color: black;
}

li {
    list-style: none;
}
